Front-end/WindowsFormsApp2/WindowsFormsApp2/Connected Services/adminServicesReference/adminServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55215/adminServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Elearning_WCF_Services.DataModels" />
  <xs:import schemaLocation="http://localhost:55215/adminServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="addCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Elearning_WCF_Services.DataModels" minOccurs="0" name="course" nillable="true" type="q1:CourseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Elearning_WCF_Services.DataModels" minOccurs="0" name="course" nillable="true" type="q2:CourseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Elearning_WCF_Services.DataModels" minOccurs="0" name="getAllCoursesResult" nillable="true" type="q3:ArrayOfCourseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Elearning_WCF_Services.DataModels" minOccurs="0" name="getCourseDataResult" nillable="true" type="q4:CourseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCoursesIDs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCoursesIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllCoursesIDsResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>