Front-end/WindowsFormsApp2/WindowsFormsApp2/Connected Services/userServicesReference/usersServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateUserDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="getUserById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserByIdResult" type="tns:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserByUsernameResult" type="tns:UserData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllCoursesForUser">
        <s:complexType />
      </s:element>
      <s:element name="getAllCoursesForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCoursesForUserResult" type="tns:ArrayOfCourseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCourseData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CourseData" nillable="true" type="tns:CourseData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CourseData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CoursePrice" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseInstructor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseGenre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedAt" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCourseDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="courseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCourseDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCourseDetailsResult" type="tns:ArrayOfUserCoursesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserCoursesData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserCoursesData" nillable="true" type="tns:UserCoursesData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserCoursesData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseRatingScore" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseComments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getEnrolledCoursesForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEnrolledCoursesForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEnrolledCoursesForUserResult" type="tns:ArrayOfCourseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBoughtCoursesForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBoughtCoursesForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBoughtCoursesForUserResult" type="tns:ArrayOfCourseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCoursesInCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCoursesInCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCoursesInCartResult" type="tns:ArrayOfCourseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserToCourseWithStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCourseData" type="tns:UserCoursesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserToCourseWithStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addUserToCourseWithStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addRatingScoreToCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCourseData" type="tns:UserCoursesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addRatingScoreToCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="addCommentToCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCourseData" type="tns:UserCoursesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCommentToCourseResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateCourseStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCourseData" type="tns:UserCoursesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCourseStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateCourseStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeCourseFromCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCourseData" type="tns:UserCoursesData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeCourseFromCartResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertUserSoapIn">
    <wsdl:part name="parameters" element="tns:insertUser" />
  </wsdl:message>
  <wsdl:message name="insertUserSoapOut">
    <wsdl:part name="parameters" element="tns:insertUserResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:updateUserData" />
  </wsdl:message>
  <wsdl:message name="updateUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:updateUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="getUserByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getUserById" />
  </wsdl:message>
  <wsdl:message name="getUserByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getUserByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:getUserByUsername" />
  </wsdl:message>
  <wsdl:message name="getUserByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:getUserByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCoursesForUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCoursesForUser" />
  </wsdl:message>
  <wsdl:message name="getAllCoursesForUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCoursesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="getCourseDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getCourseDetails" />
  </wsdl:message>
  <wsdl:message name="getCourseDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getCourseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getEnrolledCoursesForUserSoapIn">
    <wsdl:part name="parameters" element="tns:getEnrolledCoursesForUser" />
  </wsdl:message>
  <wsdl:message name="getEnrolledCoursesForUserSoapOut">
    <wsdl:part name="parameters" element="tns:getEnrolledCoursesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="getBoughtCoursesForUserSoapIn">
    <wsdl:part name="parameters" element="tns:getBoughtCoursesForUser" />
  </wsdl:message>
  <wsdl:message name="getBoughtCoursesForUserSoapOut">
    <wsdl:part name="parameters" element="tns:getBoughtCoursesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="getCoursesInCartSoapIn">
    <wsdl:part name="parameters" element="tns:getCoursesInCart" />
  </wsdl:message>
  <wsdl:message name="getCoursesInCartSoapOut">
    <wsdl:part name="parameters" element="tns:getCoursesInCartResponse" />
  </wsdl:message>
  <wsdl:message name="addUserToCourseWithStatusSoapIn">
    <wsdl:part name="parameters" element="tns:addUserToCourseWithStatus" />
  </wsdl:message>
  <wsdl:message name="addUserToCourseWithStatusSoapOut">
    <wsdl:part name="parameters" element="tns:addUserToCourseWithStatusResponse" />
  </wsdl:message>
  <wsdl:message name="addRatingScoreToCourseSoapIn">
    <wsdl:part name="parameters" element="tns:addRatingScoreToCourse" />
  </wsdl:message>
  <wsdl:message name="addRatingScoreToCourseSoapOut">
    <wsdl:part name="parameters" element="tns:addRatingScoreToCourseResponse" />
  </wsdl:message>
  <wsdl:message name="addCommentToCourseSoapIn">
    <wsdl:part name="parameters" element="tns:addCommentToCourse" />
  </wsdl:message>
  <wsdl:message name="addCommentToCourseSoapOut">
    <wsdl:part name="parameters" element="tns:addCommentToCourseResponse" />
  </wsdl:message>
  <wsdl:message name="updateCourseStatusSoapIn">
    <wsdl:part name="parameters" element="tns:updateCourseStatus" />
  </wsdl:message>
  <wsdl:message name="updateCourseStatusSoapOut">
    <wsdl:part name="parameters" element="tns:updateCourseStatusResponse" />
  </wsdl:message>
  <wsdl:message name="removeCourseFromCartSoapIn">
    <wsdl:part name="parameters" element="tns:removeCourseFromCart" />
  </wsdl:message>
  <wsdl:message name="removeCourseFromCartSoapOut">
    <wsdl:part name="parameters" element="tns:removeCourseFromCartResponse" />
  </wsdl:message>
  <wsdl:portType name="usersServicesSoap">
    <wsdl:operation name="insertUser">
      <wsdl:input message="tns:insertUserSoapIn" />
      <wsdl:output message="tns:insertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateUserData">
      <wsdl:input message="tns:updateUserDataSoapIn" />
      <wsdl:output message="tns:updateUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <wsdl:input message="tns:getUserByIdSoapIn" />
      <wsdl:output message="tns:getUserByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <wsdl:input message="tns:getUserByUsernameSoapIn" />
      <wsdl:output message="tns:getUserByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllCoursesForUser">
      <wsdl:input message="tns:getAllCoursesForUserSoapIn" />
      <wsdl:output message="tns:getAllCoursesForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCourseDetails">
      <wsdl:input message="tns:getCourseDetailsSoapIn" />
      <wsdl:output message="tns:getCourseDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEnrolledCoursesForUser">
      <wsdl:input message="tns:getEnrolledCoursesForUserSoapIn" />
      <wsdl:output message="tns:getEnrolledCoursesForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBoughtCoursesForUser">
      <wsdl:input message="tns:getBoughtCoursesForUserSoapIn" />
      <wsdl:output message="tns:getBoughtCoursesForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCoursesInCart">
      <wsdl:input message="tns:getCoursesInCartSoapIn" />
      <wsdl:output message="tns:getCoursesInCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addUserToCourseWithStatus">
      <wsdl:input message="tns:addUserToCourseWithStatusSoapIn" />
      <wsdl:output message="tns:addUserToCourseWithStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addRatingScoreToCourse">
      <wsdl:input message="tns:addRatingScoreToCourseSoapIn" />
      <wsdl:output message="tns:addRatingScoreToCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCommentToCourse">
      <wsdl:input message="tns:addCommentToCourseSoapIn" />
      <wsdl:output message="tns:addCommentToCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCourseStatus">
      <wsdl:input message="tns:updateCourseStatusSoapIn" />
      <wsdl:output message="tns:updateCourseStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeCourseFromCart">
      <wsdl:input message="tns:removeCourseFromCartSoapIn" />
      <wsdl:output message="tns:removeCourseFromCartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="usersServicesSoap" type="tns:usersServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertUser">
      <soap:operation soapAction="http://tempuri.org/insertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserData">
      <soap:operation soapAction="http://tempuri.org/updateUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <soap:operation soapAction="http://tempuri.org/getUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <soap:operation soapAction="http://tempuri.org/getUserByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCoursesForUser">
      <soap:operation soapAction="http://tempuri.org/getAllCoursesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseDetails">
      <soap:operation soapAction="http://tempuri.org/getCourseDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnrolledCoursesForUser">
      <soap:operation soapAction="http://tempuri.org/getEnrolledCoursesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBoughtCoursesForUser">
      <soap:operation soapAction="http://tempuri.org/getBoughtCoursesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoursesInCart">
      <soap:operation soapAction="http://tempuri.org/getCoursesInCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToCourseWithStatus">
      <soap:operation soapAction="http://tempuri.org/addUserToCourseWithStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRatingScoreToCourse">
      <soap:operation soapAction="http://tempuri.org/addRatingScoreToCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCommentToCourse">
      <soap:operation soapAction="http://tempuri.org/addCommentToCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCourseStatus">
      <soap:operation soapAction="http://tempuri.org/updateCourseStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeCourseFromCart">
      <soap:operation soapAction="http://tempuri.org/removeCourseFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="usersServicesSoap12" type="tns:usersServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertUser">
      <soap12:operation soapAction="http://tempuri.org/insertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserData">
      <soap12:operation soapAction="http://tempuri.org/updateUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserById">
      <soap12:operation soapAction="http://tempuri.org/getUserById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserByUsername">
      <soap12:operation soapAction="http://tempuri.org/getUserByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCoursesForUser">
      <soap12:operation soapAction="http://tempuri.org/getAllCoursesForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseDetails">
      <soap12:operation soapAction="http://tempuri.org/getCourseDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEnrolledCoursesForUser">
      <soap12:operation soapAction="http://tempuri.org/getEnrolledCoursesForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBoughtCoursesForUser">
      <soap12:operation soapAction="http://tempuri.org/getBoughtCoursesForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoursesInCart">
      <soap12:operation soapAction="http://tempuri.org/getCoursesInCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserToCourseWithStatus">
      <soap12:operation soapAction="http://tempuri.org/addUserToCourseWithStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRatingScoreToCourse">
      <soap12:operation soapAction="http://tempuri.org/addRatingScoreToCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCommentToCourse">
      <soap12:operation soapAction="http://tempuri.org/addCommentToCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCourseStatus">
      <soap12:operation soapAction="http://tempuri.org/updateCourseStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeCourseFromCart">
      <soap12:operation soapAction="http://tempuri.org/removeCourseFromCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="usersServices">
    <wsdl:port name="usersServicesSoap" binding="tns:usersServicesSoap">
      <soap:address location="https://localhost:44358/usersServices.asmx" />
    </wsdl:port>
    <wsdl:port name="usersServicesSoap12" binding="tns:usersServicesSoap12">
      <soap12:address location="https://localhost:44358/usersServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>